<html>
    <h1>CONFIRMATION de votre rendez-vous d'état des lieux avec la société AMEXPERT</h1>
    <h2>Information du rdv</h2>
    <ul>
        <li>Type rdv: {{Type}}</li>
        <li>Date du rdv: {{date}}</li>		
        <li>Nom: {{client}}</li>	
    </ul>
    <h3>La commande du type d'intervention {{Type}} du {{jour}} a été créé avec succès"</h3>
    <p>Ce rdv est confirmé dans une logique de coordination de planification. Seul L'AGENT REDACTEUR en charge du rdv peut faire modification du rdv, vous pouvez le contacter par mail si besoin.</p>
    <p>Pour ce rdv merci de vous munir de votre pièce d'identité. Si vous vous faite représenter par un tiers celui-ci devra être en possession du document le jour du rdv avec la copie de votre pièce d'identité. Sans ces documents le rdv ne pourra pas être réalisé.</p>
    <p>Pour la bonne réalisation du rdv vous devrez être en possession de différents documents :</p>
    <p>Pour la réalisation d'un rdv de SORTIE : l'ensemble des documents pour l'entretien ( chaudière, cheminée, .......) et votre dernière facture d'électricité</p>
    <p>Pour la réalisation d'une ENTREE : la copie de votre attestation d'assurance.</p>
    <p>Si vous aviez besoin d'informations complémentaire voir sur le lien suivant pour les obligations du locataire :https://www.service-public.fr/particuliers/vosdroits/F31697</p>
    <p>Lorsqu'un rendez-vous a été fixé, une éventuelle modification ou annulation est possible. Les services de la société AMEXPERT doivent être prévenus avant 14h00 la veille (jour ouvré) du rendez-vous.</p>
    <p>Vous pouvez prendre contact avec notre service de planification au</p>
    <p>Pour la province: 09 72 64 79 25 ou 09 72 64 79 27.</p>
    <p>Pour Ile de France : 09 72 64 79 26</p>

    <h4>* * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * * * * * * * 
        CECI EST UN EMAIL AUTOMATIQUE MERCI DE NE PAS Y REPONDRE* * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * * * * * * * * * ** * * * * * * * * * * * * * * * * * </h4>
</html>